body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
input {
  margin: 5px;
}
button {
  margin: 5px;
}
#chat-box-header {
  font-size: 20pt;
}
#chat-box-content {
  height: 600px;
  overflow-y: auto;
  margin: 10px 0px;
}
